.breadcrumb {
    padding: 0 0 0 2px;
    margin-bottom: -1%;
    list-style: none;
    background-color: papayawhip;
    color: darkcyan;
    border-radius: 4px;
    width: fit-content;
    height: 15px;
    margin-left: 11%;
    font-size: 10px;
}

    .breadcrumb > li + li:before {
        padding: 0 5px;
        color: darkcyan;
        content: ">";
    }

    .breadcrumb > .active {
        color: #777;
    }

